<!-- ./layouts/main.handlebars -->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>家庭記帳簿</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
</head>

<body>
	
	<nav class="navbar navbar-dark bg-primary justify-content-between">
		<a href="/" class="navbar-brand">家庭記帳簿</a>
		{{#if isAuthenticated}}
		<a href="/users/logout" class="btn btn-outline-light">Logout</a>
		{{else}}
		<a href="/users/login" class="btn btn-outline-light">Login</a>
		{{/if}}
	</nav>
<main>
	
	<div class="col-md-6 m-auto">
		<div class="card card-body">
		{{{ body }}}
	  </div>
  </div>
	<!-- insert datapicker -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker").datepicker({
				changeMonth: true,
				changeYear: true
			});
		});
	</script>
  <!-- insert chart -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script> 
  <script>
	   let labels = ['家居物業', '交通出行', '休閒娛樂', '餐飲食品', '其他'];
     let ctx = document.getElementById('amountChart').getContext('2d');
		 let pieChart = new Chart(ctx, {
		  	type: 'pie',
			  data: {
				  labels: labels,
				datasets: [{
					label: '# of Votes',
					data:  [{{ chartData }}],
					backgroundColor: [
						"#66FFE6",
						"#5599FF",
						"#FFFF77",
						"#FF8888",
						"#32CD32"
					]	
				}]
			},
			  options: {
			  	  legend: {
				  	display: false,
					  labels: {
						  fontColor: 'rgb(255, 99, 132)'
					  }
				  }
			  }
		  })
  </script>

</main>
			
		
	
	
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js">
	</script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
</body>	

</html>