
<form action="/records" method="POST">
<div class="container text-center mb-4">
	<h3>請輸入你的支出</h3>
</div>
{{> messages}}
<div class="container text-center">

	<div class="input-group mb-4">
		<div class="input-group-prepend">
			<span class="input-group-text" >名稱:</span>
		</div>
		<input type="text" name="name" class="form-control" aria-label="Sizing example input" 
			aria-describedby="inputGroup-sizing-default">
	</div>

  <div class="input-group mb-4">
		<div class="input-group-prepend">
			<span class="input-group-text" >日期:</span>
		</div>
		<input type="date" name="date" class="form-control" aria-label="Sizing example input" 
			aria-describedby="inputGroup-sizing-default">
	</div>
	
	
	<div class="input-group mb-4">
		<div class="input-group-prepend">
			<span class="input-group-text" >類別</span>
		</div>
		<select name="category" class="form-control">
			<option value="all">全部</option>
			<option value="homeProperty">家居物業</option>
			<option value="traffic">交通出行</option>
			<option value="entertainment">休閒娛樂</option>
			<option value="food">餐飲食品</option>
			<option value="others">其他</option>
		</select>
	</div>
	
	<div class="input-group mb-4">
		<div class="input-group-prepend">
			<span class="input-group-text" >金額</span>
		</div>
		<input type="text" name="amount" class="form-control" aria-label="Sizing example input"
			aria-describedby="inputGroup-sizing-default">
	</div>

	<div>
		<button class="btn btn-info w-50" type="submit">新增支出</button>
	</div>
	
</div>

</form>